* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  color: white;
  background-image: url('../assets/Poster.png');
  background-position: center center;
  background-repeat: no-repeat;
}
